/* Import */
/* ------------------------------------------------------------------ */

/* Styling */
/* ------------------------------------------------------------------ */

/* This will affect the entire page */

body {
  background-color: #282c34;
}

/* ------------------------------------------------------------------ */

.div {
  text-align: center;
}

.heading {
  font-weight: normal;
}
